@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body{
  font-family: 'Poppins', sans-serif;
  color: #222;
}

.btn-primary{
  background-color: #87ac8f;
  border: 1px solid #87ac8f;
}
.btn-primary:hover{
  background-color: #66886d;
  border: 1px solid #66886d;
}
footer{
  background-color: #87ac8f;
  color: #ffffff;
  padding-top: 2rem;
}
